*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
nav{
  border: 2px solid;
  height: 80px;
  background-color:#0078ad;
  /* position: fixed; */
  z-index: 1;

  
}
nav{
  /* border: 2px solid; */
  width: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;

  
}
nav>ol{
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
}
nav>ol+ol{
  display: inline-flex;
  justify-content:space-evenly;
  width: 600px;
  
}
nav>ol+ol>li>input{
  font-size: 12x;
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding-left: 26px;
  margin-top: 20px;

}
/* .container-fluid{
  position: fixed;
} */

nav>ol+ol>li+li>button{
  border: none;
  background-color: #0078ad;
  position:absolute;
  left: 1140px;
  top: 30px;
  color: white;
}
#cart{
  position: absolute;
  left: 1080px;
  top: 30px;
  text-decoration: none;
  border: 2px solid;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border-color:rgba(0,0,0,0);
}
#cart:hover{
  background-color: #b5b5b5;

}
#context>.card{
  border: none;
}
#img1{
  color: #ffff;
}
#context1>.card{
  border: none;
}

/* #icon{
  border: 2px solid;
  
 margin-top: 9px;
  margin-right: 600px;
 
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 60px;
  font-size: 15px;
} */
#icon1{

  position: relative;
 right: 300px;
}
#list-icon{
 position: relative;
 right: 70px;
}
#icon2{
 position: relative;
 right: 120px;
 bottom: 10px;

}
#cart{
  margin-top: -13px;
  margin-right: 10px;
}
#span{
  color: #ffff;
  font-weight: bold;
  text-wrap: nowrap;
}
.container-fluid{
  border: 2px solid;
  height:60px ;
  background-color: #0c5273;
  /* position: fixed; */
  width: 100%;
 
  z-index: 1;

}
div ol{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: "JioType",helvetica,arial,sans-serif;
  color:#ffff;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  
}
ul{
  /* border: 2px solid; */
  width: 460px;
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  /* color: #0c5273; */
  font-weight: bold;
  
}
li:hover{
color: #0c5273;
}
#demo{
  width: 95%;
  margin: auto;
  margin-top: 30px;
 
}
#demo1{
  width: 90%;
  margin: auto;
 
  
}
#demo1 h1{
 
  font-size: 19px;
  font-weight: bold;
  margin-top: 15px;
  overflow-y: hidden;
}

.jm-body-s-bold {
  font-family: "JioType",helvetica,arial,sans-serif;
  font-weight: 700 !important;
  font-size: 16px !important;
  letter-spacing: -0.08px !important;
  line-height: 1.5 !important;
}
.jm-body-xs {
  font-family: "JioType",helvetica,arial,sans-serif;
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: -0.07px !important;
  line-height: 1.4285714286 !important;
  color: #b5b5b5 !important;
  text-decoration: line-through;
}
.jm-badge{  display: inline-flex; 
    position: relative;
    align-items: center;
    min-width: 40px;
    background-color: #e5f7ee;
    color: #03753c;
    border-radius: 4px;
    max-width: 100%;
    text-transform: capitalize;
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.06px;
    line-height: 1.3333333333;
    padding: 2px 4px;
}

 
.jm-btn.secondary {
  color: #0c5273;
  background-color: rgba(0,0,0,0);
  border-color: #e0e0e0;
}
#h3{
 overflow-y: hidden;
 font-size: 16px;
 font-weight: bolder;

}
#context{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#context1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
.card.y{
  height:390px;
  
}
.love {
  background-size: 18px;
  padding: 10px;
  /* margin-left: 30px; */
}
.love {
 margin-left: 22px;
  vertical-align: top;
  background-image: url(./assets/love.svg);
  background-repeat: no-repeat;
  background-position: center;
 
}
h5{
  font-size: 15px;
  font-weight: bold;
  overflow-y: hidden;
}
#context2{
  display: flex;
  justify-content: space-around;
 align-items: center;
}
#context2>.card{
  border: none;
}
#green{
  overflow-y: hidden;
}
#context3{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#context3>.card{
  border: none;
}
h4{
  overflow-y: hidden;
}
#footer{
  /* border: 2px solid red; */
  height: 500px;
  display: flex;
  justify-content: space-around;
  /* background-color: #b5b5b5; */
  font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
  
 
}
#footer>ol>li:first-of-type{
  font-size: 20px;
  font-weight: bold;
}
#last-ol>h1{
  height: 60px;
}
#last-ol>h2{
  height: 60px;
  font-size: 35px;
}
#footer>ol>li+li{
  line-height: 40px;
  color: grey;
}
.grid{
  font-weight: bold;
  color: black;
 
}

